suds
num2words
pillow==3.4.2
reportlab
unidecode
email_validator
xmlsec
-e git+http://github.com/odoo-brazil/pybrasil.git#egg=pybrasil
-e git+http://github.com/odoo-brazil/geraldo.git#egg=geraldo
-e git+http://github.com/odoo-brazil/PySPED.git#egg=pysped
